<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library-Management</title>
</head>
<body>
    <!-- Header part div-->
    <div id="First">
        <button id="Home">Home</button>

        <form action="/search" method="GET">
             <input type="text" name="query" placeholder="Search..."> 
             <button type="submit">Search</button> 
        </form>
        <button id="Register">Register</button>
        <button id="Login">Login</button>
        <button id="Admin">Admin</button>
    </div>
    <hr>
    <!-- 
    WELCOME DIV
    -->
    <div id="second">
        <h1>WELCOME TO LIBRARY MANAGEMENT SYSTEM</h1>
        <h3>This is GOlang based Library-Management system</h3>
        <br>
        <hr>
        <h1>ALL BOOKS</h1>
        <table border="1">
             <thead> 
                <tr>
                     <th>#</th>
                    <th>Book Name</th>
                    <th>Details</th> 
                </tr>
            </thead> 
            <tbody>
                 <!-- Rows will be added here -->
             </tbody>
        </table>
        <br>
        <hr>
        <p>&copy;Nikhil Kumar Singh</p>

        
    </div>
    
</body>
</html>